/* add home page styles here */
html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
header{
    height:100px;
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}
.left-header-content{
    display:flex;
    justify-content: flex-start;
    /* padding: 30px; */
}

.right-header-content{
    display:flex;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    margin: 2%;
    padding: 2%;
    
}
 #choco-pizza {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 60%;
 }

 p{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     text-align: center;
     width: 60%;
 }
.notepad{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../assets/list-bg.png");
    background-repeat: no-repeat;
    height: 18rem;
    width: 35rem;
}
#left-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 12%;
    margin-left: 5%;
}
#right-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-left: 5%;
} 
#recipe-btn{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color:white;
   background-color: rgb(171, 64, 64);
}